<section class="section">
    <div class="container">
        <h3>services we provide</h3>
        <p></p>
        <ul class="our-service_card-list">
            <li class="our-secvice_card-item">
                <svg></svg>
                <p class="our-service_card-header"></p>
                <p class="our-service_card-desc"></p>
            </li>
            <li class="our-secvice_card-item">
                <svg></svg>
                <p class="our-service_card-header"></p>
                <p class="our-service_card-desc"></p>
            </li>
            <li class="our-secvice_card-item">
                <svg></svg>
                <p class="our-service_card-header"></p>
                <p class="our-service_card-desc"></p>
            </li>
            <li class="our-secvice_card-item">
                <svg></svg>
                <p class="our-service_card-header"></p>
                <p class="our-service_card-desc"></p>
            </li>
            <li class="our-secvice_card-item">
                <svg></svg>
                <p class="our-service_card-header"></p>
                <p class="our-service_card-desc"></p>
            </li>
            <li class="our-secvice_card-item">
                <svg></svg>
                <p class="our-service_card-header"></p>
                <p class="our-service_card-desc"></p>
            </li>
            <li class="our-secvice_card-item">
                <svg></svg>
                <p class="our-service_card-header"></p>
                <p class="our-service_card-desc"></p>
            </li>
            <li class="our-secvice_card-item">
                <svg></svg>
                <p class="our-service_card-header"></p>
                <p class="our-service_card-desc"></p>
            </li>
        </ul>
    </div>
</section>