<section class="section">
    <div class="container">
        <div class="left-side">
            <h3></h3>
            <p></p>
            <ul class="why-choose-us_list">
                <li class="why-choose-us_item"></li>
                <li class="why-choose-us_item"></li>
                <li class="why-choose-us_item"></li>
                <li class="why-choose-us_item"></li>
            </ul>
            <button>Discover more</button>
        </div>
        <div class="right-side-image">
            <img src="" alt="">
        </div>
    </div>
</section>