<header class="header" id="header">
    <a class="header-logo" href="../index.html">
        <svg class="header-svg" width="120" height="55">
            <use href=""></use>
        </svg>
    </a>
    <nav class="header-nav">
        <a href="" class="header-link"></a><a href="" class="header-link"></a><a href="" class="header-link"></a><a
            href="" class="header-link"></a><a href="" class="header-link"></a><a href="" class="header-link"></a>
    </nav>
    <button class="header-button">
        <svg class="header-button-svg" width="30" height="30">
            <use href=""></use>
        </svg>
        Call us
    </button>
</header>