<header class="header" id="header">
    <div class="container">
        <a class="header-logo" href="../index.html">
            <svg class="header-svg" width="120" height="55">
                <use href=""></use>
            </svg>
        </a>
        <nav class="header-nav">
            <a href="" class="header-link">Home</a><a href="../about-us.html" class="header-link">About Us</a><a href=""
                class="header-link">Service</a><a href="" class="header-link">Page</a><a href=""
                class="header-link">Blog</a><a href="" class="header-link">Contact</a>
        </nav>
        <button class="header-button">
            <svg class="header-button-svg" width="30" height="30">
                <use href=""></use>
            </svg>
            Call us
        </button>
    </div>
</header>