<section class="hero-section" id="hero">
    <div class="container">
        <div class="left-side-container">
            <div class="hero-text-container">
                <h1 class="first-heading">Platting a <span class="heading-span">Garden</span> is
                    Similar to Believe in Tomorrow</h1>
                <p class="heading-paragraf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
                    luctus nec ullamcorper mattis, pulvinar dapibus leo.
                </p>
            </div>
            <div class="hero-buttons-container">
                <button class="hero-getquate-button" type="button">Get A Quate</button>
                <a class="hero-how-link" href="">See how it works
                    <svg class="hero-link-svg" width="20" height="16">
                        <use href=""></use>
                    </svg>
                </a>
            </div>
            <div class="hero-reviews-container">
                <div class="hero-review-image-container">
                    <img src="" alt="Avatar 1"><img src="" alt="Avatar 2"><img src="" alt="Avatar 3"><img src=""
                        alt="Avatar 4">
                </div>
                <div class="hero-review-text-container">
                    <p class="hero-customer-paragraf">Our Happy Customer</p>
                    <div class="hero-raiting">
                        <svg class="hero-raiting-svg" width="30" height="30">
                            <use href=""></use>
                        </svg>
                        <p>4.8 <span class="hero-raiting-span">(12.5k Review)</span></p>
                    </div>
                </div>
                <div class="right-side-container">
                    <img src="" alt="Photo 1"><img src="" alt="Photo 2">
                </div>
            </div>
</section>