<section class="section">
    <div class="container">
        <ul class="company-logo-list">
            <li class="company-logo-item"><img src="" alt="" class="compan-logo-image"></li>
            <li class="company-logo-item"><img src="" alt="" class="compan-logo-image"></li>
            <li class="company-logo-item"><img src="" alt="" class="compan-logo-image"></li>
            <li class="company-logo-item"><img src="" alt="" class="compan-logo-image"></li>
            <li class="company-logo-item"><img src="" alt="" class="compan-logo-image"></li>
            <li class="company-logo-item"><img src="" alt="" class="compan-logo-image"></li>
        </ul>
    </div>
</section>