<section class="section">
  <div class="container">
    <div class="project-det_content-container">
      <img src="" alt="" />
      <h3>Project Summery</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus sollicitudin pellentesque non erat. Maecenas nibh dolor, malesuada et bibendum a, sagittis accumsan ipsum. Pellentesque ultrices ultrices 
        sapien, nec tincidunt nunc posuere ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque 
        tristique dolor vitae tincidunt. Aenean quis massa uada mi elementum elementum. Nec sapien convallis vulputate 
        rhoncus vel dui.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus sollicitudin pellentesque
        non erat. Maecenas nibh dolor, malesuada et bibendum a, sagittis accumsan ipsum. Pellentesque ultrices ultrices 
        sapien, nec tincidunt nunc posuere ut.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus sollicitudin pellentesque  
        non erat. Maecenas nibh dolor, malesuada et bibendum a, sagittis accumsan ipsum. Pellentesque ultrices ultrices 
        sapien, nec tincidunt nunc posuere ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque 
        tristique dolor vitae tincidunt. Aenean quis massa uada mi elementum elementum. Nec sapien convallis vulputate 
        rhoncus vel dui.</p>
      <h3>Project Challenges</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus sollicitudin pellentesque et 
        non erat. Maecenas nibh dolor, malesuada et bibendum a, sagittis accumsan ipsum. Pellentesque ultrices ultrices 
        sapien, nec tincidunt nunc posuere ut.</p>
      <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially 
        unchanged.It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <div class="pictures-container">
        <img src="" alt="" />
        <img src="" alt="" />
      </div>
      <ul class="challenges-list">
        <li class="challenges-item">
          <svg class="challenges-svg"></svg>
          <p class="challenges-item-text">Integer adipiscing erat eget risus sollicitudin pellentesque et non erat. Maecenas nibh dolor, malesuada bibendum a, sagittis accumsan ipsum.</p>
        </li>
        <li class="challenges-item">
          <svg class="challenges-svg"></svg>
          <p class="challenges-item-text">Integer adipiscing erat eget risus sollicitudin pellentesque et non erat. Maecenas nibh dolor, malesuada bibendum a, sagittis accumsan ipsum.</p>
        </li>
        <li class="challenges-item">
          <svg class="challenges-svg"></svg>
          <p class="challenges-item-text">Integer adipiscing erat eget risus sollicitudin pellentesque et non erat. Maecenas nibh dolor, malesuada bibendum a, sagittis accumsan ipsum.</p>
        </li>
        <li class="challenges-item">
          <svg class="challenges-svg"></svg>
          <p class="challenges-item-text">Integer adipiscing erat eget risus sollicitudin pellentesque et non erat.</p>
        </li>
      </ul>
      <div class="social-icons-and-tags">
        <div class="social-links-container">
          <p class="social-links-share-text">Share :</p>
          <ul class="social-links-list">
            <li class="social-links-item">
              <a href="" class="social-link">
                <svg class="social-link-svg">
                  <use></use>
                </svg>
              </a>
            </li>
            <li class="social-links-item">
              <a href="" class="social-link">
                <svg class="social-link-svg">
                  <use></use>
                </svg>
              </a>
            </li>
            <li class="social-links-item">
              <a href="" class="social-link">
                <svg class="social-link-svg">
                  <use></use>
                </svg>
              </a>
            </li>
            <li class="social-links-item">
              <a href="" class="social-link">
                <svg class="social-link-svg">
                  <use></use>
                </svg>
              </a>
            </li>
            <li class="social-links-item">
              <a href="" class="social-link">
                <svg class="social-link-svg">
                  <use></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <ul class="buttons-tags-list">
            <li class="buttons-tags-item"><a href="" class="tag-link">Garden Care</a></li>
            <li class="buttons-tags-item"><a href="" class="tag-link">Lawn Care</a></li>
            <li class="buttons-tags-item"><a href="" class="tag-link">Planting</a></li>
        </ul>
      </div>
    </div>
    <aside class="side-bar-container">
        <div class="side-bar-information-container">
            <h3 class="information-header">Project Information</h3>
            <p class="information-paragraph">Pleasure and praising pain was born and I will 
              give you a complete account of the systems 
              and the actually teachings of the great explorer.</p>
            <ul class="information-contacts-list">
                <li class="inforrmation-contacts-item">
                    <p class="card-header">Clients</p>
                    <p class="card-paragraph">Indu Designers
                    </p>
                </li>
                <li class="inforrmation-contacts-item">
                    <p class="card-header">Location</p>
                    <p class="card-paragraph">27 Division St, New York,
                      NY 10002, USA</p>
                </li>
                <li class="inforrmation-contacts-item">
                    <p class="card-header">Construction Date</p>
                    <p class="card-paragraph">13 May 2020</p>
                </li>
                <li class="inforrmation-contacts-item">
                    <p class="card-header">Completed Date</p>
                    <p class="card-paragraph">05 Oct 2021</p>
                </li>
                <li class="inforrmation-contacts-item">
                    <p class="card-header">Price After Completion</p>
                    <p class="card-paragraph">5020$</p>
                </li>
            </ul>
        </div>
        <div class="side-bar-information-container">
            <h3 class="information-header">Brochure</h3>
            <p class="information-paragraph">Lorem Ipsum is simply dummy text of the 
              printingand typesetting industry. Lorem Ipsum 
              has been the industry.</p>
            <div class="download-files-container">
                <h4 class="download-file-header">Download File</h4>
                <ul class="download-list">
                    <li class="download-item">
                        <div class="download-text-container">
                            <svg></svg>
                            <p class="download-text">Info Company</p>
                        </div>
                        <svg></svg>
                    </li>
                    <li class="download-item">
                        <div class="download-text-container">
                            <svg></svg>
                            <p class="download-text">Brochure Newest</p>
                        </div>
                        <svg></svg>
                    </li>
                </ul>
                <button>Get A Quate</button>
            </div>
        </div>
        <div class="side-bar-information-container">
            <h3 class="information-header">More About Us</h3>
            <p class="information-paragraph">Lorem Ipsum is simply dummy text of the 
              printingand typesetting industry. Lorem Ipsum 
              has been the industry's standard dummy text 
              ever since the 1500s, when an unknown.</p>
            <div class="more-phone-num-container">
                <svg></svg>
                <div class="num-and-text">
                    <a href="">+01 123456789</a>
                    <p>Get Free Consultancy</p>
                </div>
            </div>
        </div>
    </aside>
  </div>
</section>
