<section class="section">
    <div class="container">
        <h1></h1>
        <p></p>
        <div class="project-det_hero-nav">
            <div class="project-det_hero-nav-button">
                <a href="./index.html" class="project-det_hero-nav-button-paragraph">Home
                    
                </a>
                <svg class="project-det_hero-nav-svg" width="15" height="15">
                    <use href="./img/icons.svg#icon-arrow-right"></use>
                </svg>
            </div>
            <div class="project-det_hero-nav-button">
                <p class="project-det_hero-nav-button-paragraph-current">About us</p>
            </div><div class="project-det_hero-nav-button">
                <a href="./index.html" class="project-det_hero-nav-button-paragraph">Home
                    
                </a>
                <svg class="project-det_hero-nav-svg" width="15" height="15">
                    <use href="./img/icons.svg#icon-arrow-right"></use>
                </svg>
            </div>
            <div class="project-det_hero-nav-button">
                <p class="project-det_hero-nav-button-paragraph-current">About us</p>
            </div>
        </div>
    </div>
</section>