<section class="section">
    <div class="container">
        <h3>releated project</h3>
        <ul class="project-list">
            <li class="project-card">
                <img src="" alt="" class="project-card-image">
                <div class="project-card-desc">
                    <p class="project-card-header">Planting</p>
                    <p class="project-card-paragraph">Lorem Ipsum is simply dummy text 
                        of the printing and typesetting </p>
                </div>
            </li>
            <li class="project-card">
                <img src="" alt="" class="project-card-image">
                <div class="project-card-desc">
                    <p class="project-card-header">Lawn Care</p>
                    <p class="project-card-paragraph">Lorem Ipsum is simply dummy text 
                        of the printing and typesetting </p>
                </div>
            </li>
            <li class="project-card">
                <img src="" alt="" class="project-card-image">
                <div class="project-card-desc">
                    <p class="project-card-header">Lawn Care</p>
                    <p class="project-card-paragraph">Lorem Ipsum is simply dummy text 
                        of the printing and typesetting </p>
                </div>
            </li>
            <li class="project-card">
                <img src="" alt="" class="project-card-image">
                <div class="project-card-desc">
                    <p class="project-card-header">Garden Care</p>
                    <p class="project-card-paragraph">Lorem Ipsum is simply dummy text 
                        of the printing and typesetting </p>
                </div>
            </li>
        </ul>
    </div>
</section>