@import url('./reset.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./homepage.css');


:root {
  --main-1-color: #00730c;
  --main-2-black-color: #0b0b0b;
  --main-3-color: #0c4b35;
  --main-bg-color: #e3e3e3;
  --main-bg-white-color: #fff;
  --main---bg-color: #242424;
  --main---bg-color: #f0f0f0;
  --main-1--light-bg-color-secondry: #d9f1e0;
  --main-3-light-color: #fbeee7;
  --main---01-bg-color: #fff8f1;
  --main---bg-light-color-4: #f6f6f6;
  --typography-heading-font-color: #212529;
  --typography-font-white-color: #fff;
  --typography---paragraph-color: #676767;
  --icon-colors---white-color: #fff;
  --social-icon-color---twitter: #009fee;
  --social-icon-color---google: #367cff;
  --social-icon-color---linkedin: #0079b2;
  --social-icon-color--pinterest: #ef1408;
  --typograph---paragraph-color-2: #d7d7d7;
  --font-family: "Nunito", sans-serif;
  --second-family: "Poppins", sans-serif;
}


.container {
  padding-left: 255px;
  padding-right: 255px;
}