<section class="section">
  <div class="container">
    <h3 class="about-company_header">about company</h3>
    <div class="about-company_images-and-text">
      <div class="about-company_container-images">
        <img src="" alt="" class="about-company_image" /><img src="" alt="" class="about-company_image" /><img src="" alt="" class="about-company_image" />
      </div>
      <div class="about-company_contaner-exp">
        <h4 class="about-company_header-exp">25+ Years of Experience in Gadening & Landscaping</h4>
        <p class="about-company_text-exp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been of typ the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it make a type specimen book.</p>
        <p class="about-company_text-exp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
      </div>
    <ul class="about-company_icons-list">
        <li class="about-company_icons-item">
            <svg width="30" height="30">
                <use href="./img/icons.svg#icon-about-us-1"></use>
            </svg>
            <p class="about-company_icons-text">Our Mission</p>
        </li>
        <li class="about-company_icons-item">
            <svg width="30" height="30">
                <use href="./img/icons.svg#icon-about-us-2"></use>
            </svg>
            <p class="about-company_icons-text">Our Vision</p>
        </li>
        <li class="about-company_icons-item">
            <svg width="30" height="30">
                <use href="./img/icons.svg#icon-about-us-3"></use>
            </svg>
            <p class="about-company_icons-text">Support Team</p>
        </li>
        <li class="about-company_icons-item">
            <svg width="30" height="30">
                <use href="./img/icons.svg#icon-about-us-4"></use>
            </svg>
            <p class="about-company_icons-text">Clients Trust</p>
        </li>
    </ul>
    </div>
    <ul class="about-company_list-with-other-texts">
        <li class="about-company_item-with-text">
            <h5 class="about-company_header-in-item">Mission</h5>
            <p class="about-company_text-exp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus sollicitudin pellentesque et non erat. Maecenas nibh dolor, malesuada et bibendum a, sagittis accumsan ipsum. Pellentesque ultrices ultrices sapien, nec tincidunt nunc posuere ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque 
                tristique dolor vitae tincidunt. Aenean quis massa uada mi elementum elementum. Nec sapien convallis vulputate rhoncus vel dui.</p>
        </li>
        <li class="about-company_item-with-text">
            <h5 class="about-company_header-in-item">Vission</h5>
            <p class="about-company_text-exp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus sollicitudin pellentesque et non erat. Maecenas nibh dolor, malesuada et bibendum a, sagittis accumsan ipsum. Pellentesque ultrices ultrices sapien, nec tincidunt nunc posuere ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque 
                tristique dolor vitae tincidunt. Aenean quis massa uada mi elementum elementum. Nec sapien convallis vulputate rhoncus vel dui.</p>
            <p class="about-company_text-exp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus sollicitudin pellentesque et non erat. Maecenas nibh dolor, malesuada et bibendum a, sagittis accumsan ipsum. Pellentesque ultrices ultrices sapien, nec tincidunt nunc posuere ut. </p>
        </li>
        <li class="about-company_item-with-text">
            <h5 class="about-company_header-in-item">Goal</h5>
            <p class="about-company_text-exp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus sollicitudin pellentesque et non erat. Maecenas nibh dolor, malesuada et bibendum a, sagittis accumsan ipsum. Pellentesque ultrices ultrices sapien, nec tincidunt nunc posuere ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque 
                tristique dolor vitae tincidunt. Aenean quis massa uada mi elementum elementum. Nec sapien convallis vulputate rhoncus vel dui.</p>
            <p class="about-company_text-exp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus sollicitudin pellentesque et non erat. Maecenas nibh dolor, malesuada et bibendum a, sagittis accumsan ipsum. Pellentesque ultrices ultrices sapien, nec tincidunt nunc posuere ut.</p>
        </li>
    </ul>
  </div>
</section>
