<section class="section about-us_hero-section">
    <div class="container about-us_hero-container">
        <h1 class="about-us_hero-header">about us</h1>
        <p class="about-us_hero-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took of type and scrambled it to make a type specimen book.</p>
        <div class="about-us_hero-nav">
            <div class="about-us_hero-nav-button">
                <a href="./index.html" class="about-us_hero-nav-button-paragraph">Home
                    
                </a>
                <svg class="about-us_hero-nav-svg" width="15" height="15">
                    <use href="./img/icons.svg#icon-arrow-right"></use>
                </svg>
            </div>
            <div class="about-us_hero-nav-button">
                <p class="about-us_hero-nav-button-paragraph-current">About us</p>
            </div>
        </div>
    </div>
</section>