<section class="section">
    <div class="container">
        <h3>our trained staff</h3>
        <div class="our-team_descr-and-button">
            <p class="our-team_descr">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                standard dummy text ever since the 1500s, when an unknown of type and scrambled it to make a type specimen book.</p>
                <button class="our-team_discover-btn">discovr more</button>
        </div>
        <ul class="our-team_cards-container">
            <li class="our-team_one-card"></li>
            <li class="our-team_one-card"></li>
            <li class="our-team_one-card"></li>
            <li class="our-team_one-card"></li>
        </ul>
    </div>
</section>