<section class="section">
    <div class="container our-skills_container">
        <div class="our-skills_half-container">
            <h3 class="our-skills_header">our skills</h3>
            <p class="our-skills-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text has been the industry's standard.</p>
            <ul class="our-skills_three-circles">
                <li class="our-skills_one-circle-w-text">
                    <div class="our-skills_one-circle"></div>
                    <p class="our-skills_text-nearby"></p>
                </li>
                <li class="our-skills_one-circle-w-text">
                    <div class="our-skills_one-circle"></div>
                    <p class="our-skills_text-nearby"></p>
                </li>
                <li class="our-skills_one-circle-w-text">
                    <div class="our-skills_one-circle"></div>
                    <p class="our-skills_text-nearby"></p>
                </li>
            </ul>
            <ul class="our-skills_percents-list-w-text">
                <li class="our-skills_percents-item-w-text">
                    <div class="our-skills_text-w-percent"></div>
                    <div class="our-skills_green-line-below-text"></div>
                </li>
                <li class="our-skills_percents-item-w-text">
                    <div class="our-skills_text-w-percent"></div>
                    .our-skills_green-line
                </li>
                <li class="our-skills_percents-item-w-text">
                    <div class="our-skills_text-w-percent"></div>
                    .our-skills_green-line
                </li>
                <li class="our-skills_percents-item-w-text">
                    <div class="our-skills_text-w-percent"></div>
                    .our-skills_green-line
                </li>
            </ul>
        </div>
        <div class="our-skills_half-container">
            <div class="our-skills_green-rectangle"></div>
            <img src="" alt="">
        </div>
    </div>
</section>